.container{
    width:70vw;
    min-width:70vw;
    height:auto;
    background-color:#E2E0E0;
    margin:auto;
    padding:5px;
    border-radius:5px;
}
#heading{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#screen{
    width:100%;
    min-width:100%;
    height:20vh;
    background-color:#F5F5F5;
    border-radius:5px;
    justify-content:flex-end;
    display:flex;
    align-items:flex-end;
    font-size:25px;
}
table{
    width:100%;
    min-width:100%;
    min-height:40vh;
    text-align:center;
    margin-top:5px;
    border-spacing:2px;
}
table td{
    width:25%;
    padding:5px;
    background-color:white;
}
table tr td:nth-last-child(1):hover{
    background-color:#FFC877;
    color:black;
}
table td:hover{
    background-color:#FFC877;
    cursor:pointer;
}
table tr td:nth-last-child(1){
    background-color:#C14444;
    color:white;
}